body{
    background-color: pink;
}
h1{
    text-align: center;
}
img{
    width: 500px;height: 500px;
}
table,tr,td,th{
    border: 5px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
